/* Color pallete 
blue: #235789
yellow: #F1D302
white: #FDFFFC 
green: #568259*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}
body {
  background-color: #edf0f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__container {
  width: 70%;
  height: 100%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(35, 87, 137, 0.1);
}
.header {
  height: 400px;
  background-image: url('./img/connected.png'),
    linear-gradient(to right, rgb(35, 87, 137), rgb(86, 130, 89));
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fdfffc;
}
.logo {
  text-align: center;
}
.hand {
  display: inline;
  font-family: caveat;
  font-size: 60px;
}
.logo__img {
  margin-left: 20px;
}
.stories__intro {
  padding: 20px;
  border-bottom: 8px solid rgb(217, 225, 234);
  border-top: 8px solid rgb(217, 225, 234);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-style: italic;
}
.stories {
  background-color: rgb(86, 130, 89, 0.1);
  height: 700px;
}
.hashtags {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 100px;
  width: 100px;
  height: 10vh;
  margin: 20px 0;
}
.hashtags button {
  width: 100px;
  border: none;
  background-color: black;
  color: #fdfffc;
  padding: 5px 5px;
  border-radius: 5px;
}
.footer {
  position: absolute;
  transform: rotate(-90deg);
  width: 350px;
  left: -140px;
  bottom: 180px;
}
.form__textarea {
  width: 100%;
  height: 250px;
  margin: 20px 0;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgb(253, 255, 252, 0.6);
  resize: none;
  line-height: 1.8rem;
}
.form__textarea::placeholder {
  color: rgb(0, 0, 0, 0.5);
  font-style: italic;
}
.form__bottom {
  display: flex;
  justify-content: space-between;
  margin: -80px 80px 0 20px;
  line-height: 2rem;
}
/* VALIDITY INDICATOR */
.valid {
  outline: 5px solid lightgreen;
  transition: all 0.3s ease-in-out;
}
.invalid {
  outline: 5px solid lightcoral;
  transition: all 0.3s ease-in-out;
}

.submit-btn {
  background-color: #f8f9fa; /* Color claro */
  color: #333; /* Texto oscuro */
  border: 2px solid #ddd; /* Borde sutil */
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* Bordes redondeados */
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #e9ecef; /* Cambio de color al pasar el cursor */
  border-color: #ccc;
}
.storyElList {
  list-style: none;
  display: grid;
  grid-template-columns: 40px 75px 6fr 1fr;
  align-items: center;
  padding: 8px 30px;
  /* cursor: pointer; */
  border-bottom: 1px solid #e4e7eb;
  transition: all 0.2s;
  color: #3a3c42;
}

/* STORIES POSTS */
.stories {
  height: 573px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #235789 #dbdfe4; /* Firefox */
  scrollbar-width: thin;
}

.like {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  gap: 3px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.fa-star {
  margin-bottom: 3px;
}
.count {
  font-size: 0.9rem;
}
.author_letter {
  display: flex;
  justify-content: center;
}
.capital_letter {
  background-color: #235789;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfffc;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 3px;
}
.text {
  padding: 10px;
}

.author_name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 1.2rem;
}
.story_posted {
  line-height: 1.6rem;
  letter-spacing: 1.1px;
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; */
}

.days__ago {
  font-size: 1rem;
  text-align: right;
}
